In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taz_calc.csv')
df.head()

,OID_,objectid,taz1454,district,county,gacres,SHAPE_Leng,SHAPE_Area,OBJECTID_1,taz1454_1,Shape_Area_1,AREA,PERCENTAGE
0,0,1,566,11,Santa Clara,1708.683056,0.097550,-0.000444,NaN,NaN,NaN,1.781123e+06,25.758150
1,1,2,565,11,Santa Clara,486.200669,0.054171,-0.000126,NaN,NaN,NaN,8.117326e+05,41.255287
2,68,69,394,9,Santa Clara,530.497558,0.046852,-0.000138,NaN,NaN,NaN,3.169298e+05,14.762566
3,69,70,450,9,Santa Clara,529.105063,0.047786,-0.000137,NaN,NaN,NaN,6.607214e+05,30.857353
4,70,71,425,9,Santa Clara,263.724329,0.038634,-0.000068,NaN,NaN,NaN,6.541231e+04,6.129027

In [4]:
df.drop(['OBJECTID_1', 'taz1454_1', 'Shape_Area_1', 'AREA'], axis=1, inplace=True)
df.PERCENTAGE.fillna(0, inplace=True)
df.head()

,OID_,objectid,taz1454,district,county,gacres,SHAPE_Leng,SHAPE_Area,PERCENTAGE
0,0,1,566,11,Santa Clara,1708.683056,0.097550,-0.000444,25.758150
1,1,2,565,11,Santa Clara,486.200669,0.054171,-0.000126,41.255287
2,68,69,394,9,Santa Clara,530.497558,0.046852,-0.000138,14.762566
3,69,70,450,9,Santa Clara,529.105063,0.047786,-0.000137,30.857353
4,70,71,425,9,Santa Clara,263.724329,0.038634,-0.000068,6.129027

In [8]:
df.query('PERCENTAGE >= 50').groupby('county').count()['PERCENTAGE']

county
Alameda          43
Contra Costa      5
San Francisco    84
San Mateo         3
Santa Clara      17
Solano            1
Name: PERCENTAGE, dtype: int64

In [ ]:
pd.set_option()

In [10]:
pd.read_csv('data01.csv').columns

Index(['originTAZ', 'destTAZ', 'tt_da', 'cost_da', 'tt_sr', 'cost_sr',
       'tt_walk', 'tt_bike', 'tt_wt', 'accTime_wt', 'egrTime_wt', 'iWait_wt',
       'xWait_wt', 'cost_wt', 'tt_dt', 'accTime_dt', 'egrTime_dt', 'iWait_dt',
       'xWait_dt', 'cost_dt', 'weights', 'dist_car', 'accDist_dt', 'avail_da',
       'avail_sr', 'avail_walk', 'avail_bike', 'avail_wt', 'avail_dt',
       'choice', 'obsID'],
      dtype='object')